@import "tailwindcss";

*{
 color: white;
 font-family: "Saira", sans-serif;
  font-optical-sizing: auto;
}

p{
  word-wrap: anywhere;
}

.imgbnt{
  width: 30px;
}

.tbtn{
  background-color: #6533ee39;
  padding: 4px 6px;
  border-radius: 10px;
}
 
.activebtn{
  background-color: #6533ee9a;
  padding: 4px 6px;
  border-radius: 4px;
  transition: all  ease-out 0.2s ;
}
